@model IEnumerable<CrudCore.Models.Entidades.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Tipo)*@

                    @if (item.Tipo == 1)
                    {
                        <label>Administrador</label>
                    }
                    else if (item.Tipo == 2)
                    {
                        <label>Técnico</label>
                    }
                    else if (item.Tipo == 3)
                    {
                        <label>Usuario normal</label>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id/* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id/* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
